@using Microsoft.Extensions.Options
@inject IOptions<LineLoginSetting> _options
@{
    var memberId = Context.Request.Query["memberId"].FirstOrDefault();

    ViewData["Title"] = "Home Page";
    var lineLoginSetting = _options.Value;
    var loginUrl = $"https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id={lineLoginSetting.ClientId}&redirect_uri={lineLoginSetting.RedirectUri}&state={lineLoginSetting.State}&scope=profile%20openid%20email";
}

<div class="text-center">
    <h1 class="display-4">Welcome 韓國女團Twice的團購頻道</h1>
    @if (string.IsNullOrWhiteSpace(memberId))
    {
        <a href="@loginUrl">LINE Login</a>
    }
    else
    {
        var url = $"{Url.Action("MemberSubscribe")}?memberId={memberId}";
        <a href="@url"> 我要 開啟 / 取消 LINE訂閱通知 </a>
    }
</div>